<!-- wp:group -->
<div class="wp-block-group"><div class="wp-block-group__inner-container"><!-- wp:paragraph -->
<p><strong>എം-സോണ്‍ റിലീസ് – </strong>release_number</p>
<!-- /wp:paragraph -->

<!-- wp:image {"id":9638,"sizeSlug":"large","className":"poster"} -->
<figure class="wp-block-image size-large poster"><img src="https://www.malayalamsubtitles.org/wp-content/uploads/2020/02/779.-pele-691x1024.jpg" alt="" class="wp-image-9638"/><figcaption>പോസ്റ്റർ : <a href="poster_link" target="_blank" rel="noreferrer noopener" aria-label="poster_name (opens in a new tab)">poster_name</a></figcaption></figure>
<!-- /wp:image -->

<!-- wp:table {"className":"info"} -->
<figure class="wp-block-table info"><table class=""><tbody><tr><td>ഭാഷ</td><td>language_of_film</td></tr><tr><td>സംവിധാനം</td><td> <a href="dirname_link" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)">dir_name</a></td></tr><tr><td>പരിഭാഷ</td><td><a rel="noreferrer noopener" href="translator_link" target="_blank">translator_name</a> </td></tr><tr><td>ജോണർ</td><td>gener</td></tr></tbody></table></figure>
<!-- /wp:table -->

<!-- wp:group {"className":"imdb"} -->
<div class="wp-block-group imdb"><div class="wp-block-group__inner-container"><!-- wp:columns {"verticalAlignment":"center","className":"rating"} -->
<div class="wp-block-columns are-vertically-aligned-center rating"><!-- wp:column {"verticalAlignment":"center","width":39.16} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:39.16%"><!-- wp:image {"id":124,"sizeSlug":"large","linkDestination":"custom"} -->
<figure class="wp-block-image size-large"><a href="imdb_link" target="_blank" rel="noreferrer noopener"><img src="https://www.malayalamsubtitles.org/wp-content/uploads/2019/12/IMDb_Logo.png" alt="" class="wp-image-124"/></a></figure>
<!-- /wp:image --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":22.84} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:22.84%"><!-- wp:html -->
<h3><i class="fas fa-star"></i>imdb_rating</h3> 
<!-- /wp:html --></div>
<!-- /wp:column -->

<!-- wp:column {"width":38} -->
<div class="wp-block-column" style="flex-basis:38%"><!-- wp:download-manager/package {"packageID":"9637","template":"link-template-button.php"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div></div>
<!-- /wp:group -->

<!-- wp:paragraph -->
<p>synopsis</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:group -->

<!-- /wp:paragraph --></div></div>
<!-- /wp:group -->

<!-- wp:paragraph -->
<p><a href="https://www.facebook.com/groups/MSONEsubs/">അഭിപ്രായങ്ങൾ പങ്കുവെക്കാൻ</a></p>
<!-- /wp:paragraph -->
